doctype html
head
	meta(charset="utf-8")
	title #{pagetitle}
	link(rel="stylesheet", href="static/semantic/dist/semantic.min.css")
	link(rel="stylesheet" href="static/css/style.css")
	block stylesheets
	script(type="text/javascript", src="static/npm/jquery/dist/jquery.min.js")
	script(type="text/javascript", src="static/semantic/dist/semantic.min.js")
	script(type="text/javascript", src="static/npm/vue/dist/vue.js")
	script(type="text/javascript", src="static/js/init.js")
	block script_includes
body
	block content
	block scripts
