doctype html
head
	meta(charset="utf-8")
	title #{pagetitle}
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.css")
	block stylesheets
	script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
	script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.js")
	script(type="text/javascript", src="static/js/vue.js")
	script(type="text/javascript", src="static/js/init.js")
	block script_includes
body
	block content
	block scripts
