extends layouts/base_HTML.pug

block stylesheets
  link(rel="stylesheet", href="static/css/calendar.css")

block script_includes
  script(type="text/javascript" src="static/js/calendar.min.js")
  script(type="text/javascript", src="static/js/index.js")
  script(type="text/javascript", src="http://momentjs.com/downloads/moment-with-locales.js")


block content
  section(id="vue-app")
    div(class="ui form segment")
      div(class="fields")
        div(class="field")
          label(for="name") Vare Navn
          div(class="ui input")
            input(placeholder="Vare navn" name="name" type="text" v-model="name") 
        div(class="field")
          label(for="amount") Antal Varer
          div(class="ui input")
            input(placeholder="Vare Antal" name="amount" type="text" v-model="amount")
        div(class="field ui calendar")
          label(for="date") Sidste holdbarehedsdato
          div(class="ui input left icon picker")
            i(class="calendar icon")
            div(class="ui input")
              input(data-toggle="datepicker" type="text" name="date" placeholder="DD/MM/ÅÅÅÅ" v-model="date")
      div(class="ui submit button" v-on:click="addToList") Tilføj
      div(class="ui error message")

    table(class="ui celled striped table")
      thead
        tr
          th Vare Navn
          th Antal
          th Sidste holdbarhedsdato
      tbody
        tr(is="grocery-item" v-for="item in groceryList", v-bind:item="item", v-bind:key="item.id")
