<!DOCTYPE HTML>
<meta charset="utf-8" />
<head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.js"></script>
    <script type="text/javascript" src="static/js/calendar.js"></script>
    <link rel="stylesheet" href="static/css/calendar.css" />
    <script type="text/javascript" src="static/js/init.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</head>
<body>
    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label>Vare Navn</label>
          <input placeholder="Vare navn" type="text">
        </div>
        <div class="field">
          <label>Antal Varer</label>
          <input placeholder="1" type="text">
        </div>

        <div class=" field ui calendar" id="example2">
          <label>Sidste holdbarehedsdato</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date">
          </div>
        </div>
        <button class="ui button" type="submit">
          Tilføj
        </button>
      </div>
    </div>
      
</body>
