extends layouts/base_HTML.pug

block stylesheets
  link(rel="stylesheet", href="static/css/calendar.css")

block script_includes
  script(type="text/javascript" src="static/js/calendar.js")

block content
  div(id="vue-app")
    div(class="ui form")
      div(class="fields")
        div(class="field")
          label Vare Navn
          input(placeholder="Vare navn" type="text" v-model="name")
        div(class="field")
          label Antal Varer
          input(placeholder="1" type="text" v-model="number")
        div(class="field ui calendar")
          label Sidste holdbarehedsdato
          div(class="ui input left icon")
            i(class="calendar icon")
            input(type="text" placeholder="Date" v-model="date")
      button(class="ui button" type="submit" v-on:click="addToList") Tilføj

    table(class="ui celled striped table")
      thead
        tr
          th Vare Navn
          th Antal
      tbody
        tr(is="grocery-item" v-for="item in groceryList", v-bind:gitem="item", v-bind:key="item.id")

block scripts
  script(type="text/javascript", src="static/js/app.js")
