<!DOCTYPE HTML>
<meta charset="utf-8" />
<head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="JolieCall.js"></script>
    <script>
    $(function() {
        "use strict";
        $('.addButton').click(function() {
            
        });
    });
</script>
</head>
<body>
    <div class="ui input">
        <input type="text" placeholder="Indtast vare...">
    </div>
    <button class="ui primary button">
        Tilføj
    </button>
</body>
